In [10]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import discriminant_analysis
import matplotlib.pyplot as plt
from ta import *
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

dates = [] 
prices = []
    
data = pd.read_csv('SENSEX.csv')
data = data.iloc[:,1:]
data.head()

          Open         High          Low        Close    Adj Close  Volume
0  4263.109863  4301.770020  4247.660156  4300.859863  4300.859863     0.0
1  4302.959961  4395.310059  4295.399902  4333.899902  4333.899902     0.0
2  4335.790039  4393.290039  4299.970215  4323.459961  4323.459961     0.0
3  4332.700195  4347.589844  4300.580078  4323.819824  4323.819824     0.0
4  4326.810059  4391.009766  4289.490234  4291.450195  4291.450195     0.0

In [11]:
X = data.iloc[:,1:]
X = X.drop('Adj Close',1)
X['SMA'] = X['Close'].rolling(window=10).mean()
X['EMA'] = X['Close'].ewm(span=20, adjust=False).mean()
X['STCK'] = momentum.stoch(X['High'], X['Low'], X['Close'], n=14, fillna=False)
X['STCD'] = momentum.stoch_signal(X['High'], X['Low'], X['Close'], n=14, d_n=3, fillna=False)
X['MACD'] = trend.macd(X['Close'], n_fast=12, n_slow=26, fillna=False)
X['RSI'] = momentum.rsi(X['Close'], n=10,fillna=False)
X['WR'] = momentum.wr(X['High'], X['Low'], X['Close'], lbp=14, fillna=False)
X['AD'] = volume.acc_dist_index(X['High'], X['Low'], X['Close'], X['Volume'], fillna=False)
X['CCI'] = trend.cci(X['High'], X['Low'], X['Close'], n=20, c=0.015, fillna=False)
X = X.iloc[25:,:]
X = X.dropna()
X.head()
normalized_X = preprocessing.normalize(X)
#normalized_X
X.head()

,High,Low,Close,Volume,SMA,EMA,STCK,STCD,MACD,RSI,WR,AD,CCI
25,4548.790039,4477.500000,4548.020020,0.0,4297.772998,4298.947369,99.826381,97.571757,33.774560,89.939986,-0.173619,0.0,202.067636
26,4605.410156,4505.060059,4523.009766,0.0,4324.960986,4320.286645,83.524218,93.304274,44.938459,82.090726,-16.475782,0.0,186.805109
27,4546.910156,4439.479980,4447.060059,0.0,4347.029981,4332.360303,68.338236,83.896278,47.688752,62.005934,-31.661764,-0.0,131.412153
28,4467.180176,4373.200195,4397.540039,0.0,4367.802979,4338.567897,54.787280,68.883245,45.710305,51.888912,-45.212720,-0.0,81.868255
29,4482.509766,4423.689941,4481.299805,0.0,4397.784961,4352.161412,72.198135,65.107884,49.718750,64.023879,-27.801865,0.0,97.693285

In [12]:
k=0
new_X = []
j = []
X_list = [X.values.tolist()]
len(X_list[0])

#print(X_list[0])

for i in X_list[0]:
    l = []
#     print(i)
#     j=i
#     print(j)
    if k==0:
        k=1
        j=i
        continue
      
    #Close
    l.append(i[2])
    
    #SMA
    if i[2]>=i[4]:
        l.append(1)
    else:
        l.append(-1)
#     print(i[2])
    
    #EMA
    if i[2]>=i[5]:
        l.append(1)
    else:
        l.append(-1)
#     print((i[2]>=i[5]))

    #Stck
    if i[6] >= j[6]:
        l.append(1)
    else:
        l.append(-1)
#     print(l)
           
    #STCD
    if i[7] >= j[7]:
        l.append(1)
    else:
        l.append(-1)
#     print(l)
    
    #MACD
    if i[8] >= j[8]:
        l.append(1)
    else:
        l.append(-1)
#     print(l)
        
    #RSI
    if i[9]<30:
        l.append(1)
    elif i[9]>70:
        l.append(-1)
    else:
        if i[9]>=j[9]:
            l.append(1)
        else:
            l.append(-1)
#     print(l)
        
    #WR
    if i[10] >= j[10]:
        l.append(1)
    else:
        l.append(-1)
#     print(l)

    #AD
    if i[11] >= j[11]:
        l.append(1)
    else:
        l.append(-1)
        
    #CCI
    if i[12]<-200:
        l.append(1)
    elif i[12]>200:
        l.append(-1)
    else:
        if i[12]>=j[12]:
            l.append(1)
        else:
            l.append(-1)
#     print(i[11])
#     print(j[11])
    

#     print(l)
    
        
    #Append to new_X
    new_X.append(l)
    j=i

In [13]:
new_X = pd.DataFrame(new_X, columns =['Close','SMA','EMA','STCK','STCD','MACD','RSI','WR','AD','CCI'], dtype = float)
new_X.head()

         Close  SMA  EMA  STCK  STCD  MACD  RSI   WR   AD  CCI
0  4523.009766  1.0  1.0  -1.0  -1.0   1.0 -1.0 -1.0  1.0 -1.0
1  4447.060059  1.0  1.0  -1.0  -1.0   1.0 -1.0 -1.0  1.0 -1.0
2  4397.540039  1.0  1.0  -1.0  -1.0  -1.0 -1.0 -1.0  1.0 -1.0
3  4481.299805  1.0  1.0   1.0  -1.0   1.0  1.0  1.0  1.0  1.0
4  4425.029785  1.0  1.0  -1.0  -1.0  -1.0 -1.0 -1.0  1.0 -1.0

In [14]:
y = np.where (new_X['Close'].shift(-1) > new_X['Close'],1,-1)
y

array([-1, -1,  1, ...,  1,  1, -1])

In [15]:
#split = int(0.7*len(data))
#X_train, X_test, y_train, y_test = X[:split], X[split:], y[:split], y[split:]
X_train, X_test, y_train, y_test = train_test_split(new_X, y, test_size=0.28)

In [16]:
logit = linear_model.LogisticRegression(solver='lbfgs')
logit.fit(X_train, y_train)
logit.score(X_test, y_test)

0.5258928571428572

In [17]:
pd.DataFrame(zip(X.columns, np.transpose(logit.coef_)))

        0                         1
0    High   [5.299879534846339e-06]
1     Low   [4.988957061336524e-09]
2   Close  [3.3531066664806878e-09]
3  Volume   [8.327279721178514e-09]
4     SMA   [6.954587055135305e-09]
5     EMA   [6.820926703532051e-09]
6    STCK  [2.3204640992899313e-09]
7    STCD   [8.327279721178514e-09]
8    MACD   [2.881001000926184e-09]
9     RSI   [7.007084832903353e-09]

In [18]:
logit.score(X_test, y_test)

0.5258928571428572

In [19]:
model = discriminant_analysis.LinearDiscriminantAnalysis()
model.fit(X_train,y_train)

C:\Users\shail\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

In [20]:
model.score(X_test, y_test)

0.5294642857142857

In [23]:
qda = discriminant_analysis.QuadraticDiscriminantAnalysis()
model = qda.fit(X_train, y_train)

C:\Users\shail\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:692: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

In [24]:
model.score(X_test, y_test)

0.49375